.phone-icon-wrapper
{
    display: flex;
    height: 44px;
    width: 44px;
    position: relative;
}

.phone-icon--default
{
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.phone-icon--hovered
{
    width: 100%;
    height: 100%;
    transition: 0.2s;
    position: absolute;
    opacity: 0;
}
